
<div class="card align-content-center">
    <div class="card-body">
        <div class="card">
            <form method="get" asp-controller="Account" asp-action="ChangePassword">
                <input type="submit" class="btn btn-sm btn-dark form-control" value="Change Password" />
            </form>
        </div>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <div class="card">
            <form method="get" asp-controller="Account" asp-action="ChangeEmail">
                <input type="submit" class="form-control btn btn-sm btn-info" value="Change Email" />
            </form>
        </div>
    </div>
</div>