@model RegisterUserModel

@{
    ViewData["Title"] = "Register Centre Manger";
}



<h4 class="card-header text-center">
    Register Centre Manager
    @ViewBag.A
</h4>
<hr />
<div class="card-body">
    <form asp-action="Centremanager" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" placeholder="Enter Name" class="form-control card" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" placeholder="Enter Surname" class="form-control card" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CellNo" class="control-label"></label>
            <input asp-for="CellNo" placeholder="Phone Number" class="form-control card" />
            <span asp-validation-for="CellNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" placeholder="Email address" class="form-control card" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Next" class="btn btn-info" />
        </div>
    </form>
</div>