<h1> Application Details Detail</h1>
<br />
<div class="card mb-3">
    <div class="card-text">
        Parent    : Mr Siwela Nomphelo
        <h5> No of Children 3</h5>
    </div>
    <div class="card-body">
       
        <table class="table table-hover table-responsive table-responsive-sm table-responsive-xl table-responsive-md table-striped ">
            <thead>
                <tr class="">

                    <th>
                        Pupil Name
                    </th>
                    <th>
                        Pupil Surname
                    </th>
                    <th>
                        DoB
                    </th>
                    <th>
                        Program
                    </th>
                    <th>
                        Statuse
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Shaun
                    </td>
                    <td>
                        Siwela
                    </td>
                    <td>
                        2018/12/12
                    </td>
                    <td>
                        Port Elizarber Centre
                    </td>
                    <td>
                        Nutrion
                    </td>
                    <td>
                        Active
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="UpdateBooking">Class Info </a> |
                    </td>
                </tr>
                <tr>
                    <td>
                        Timera
                    </td>
                    <td>
                        Siwela
                    </td>
                    <td>
                        2018/12/12
                    </td>
                    <td>
                        Port Elizarber Centre
                    </td>
                    <td>
                        Health
                    </td>
                    <td>
                        Active
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="UpdateBooking">Class Info </a> |
                    </td>
                </tr>
                <tr>
                    <td>
                        Thandi
                    </td>
                    <td>
                        Siwela
                    </td>
                    <td>
                        2018/12/12
                    </td>
                    <td>
                        Port Elizarber Centre
                    </td>
                    <td>
                        Health
                    </td>
                    <td>
                        InActive
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="UpdateBooking">Class Info </a> |
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="card-footer">     
       <p>Due to you : R98745</p>
    </div>
</div>
