<h1> Programe  Detail</h1>
<br />
<div class="card mb-3">
    <div class="card-text">
        <h5>

            Programname Name    : Nutrition
        </h5>
        <h5>
            Program Discrption  : Help pupil with feeding
        </h5>
    </div>

    <div class="card-body">
        <h5> Program Cost :R1500</h5>

        <h5>
            Duration : 1 Year
        </h5>
        <h5>
            Centre  : Port Elizeberth Centre
        </h5>
    </div>
    <div class="card-footer">
        <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-info">Update</a>
        <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-danger">Remove</a>

    </div>
</div>
