<h1> Programe Assgned Detail</h1>
<br />
<div class="card mb-3">
    <div class="card-text">
        Tearcher    : Mr Siwela Anele
    </div>
    <div class="card-body">
        <h5> Start Date : 2021/08/14</h5>

        <h5>
            End Date : 2021/08/14
        </h5>
        <h5>
            Program : Nutrition
        </h5>
    </div>
    <div class="card-footer">
        <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-info">Update</a>
        <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-danger">Remove</a>

    </div>
</div>