<h1>Programs Assgned List</h1>
<p>
    <a asp-controller="Booking" asp-action="Reserve">Create New</a>
</p>
<div>
    <input type="search" class="input-group-text" placeholder="Seach" />
</div>
<table class="table table-hover table-responsive table-responsive-sm table-responsive-xl table-responsive-md table-striped ">
    <thead>
        <tr class="">

            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Program Name
            </th>
            <th>
                Tearcher
            </th>
            <th>
                Centre
            </th>


        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                Anele
            </td>
            <td>
                Siwela
            </td>
            <td>
                Nutrition
            </td>
            <td>
                Port Elizarber Centre
            </td>

            <td>
                0733986968
            </td>
            <td>
                anelesiwela@gmail.com
            </td>
            <td>
                Education
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="UpdateBooking">Update </a> |
                <a class="btn btn-sm btn-danger" asp-action="RemoveBooking">Remove </a> |
            </td>
        </tr>
        <tr>

            <td>
                Anele
            </td>
            <td>
                Siwela
            </td>
            <td>
                Nutrition
            </td>
            <td>
                Port Elizarber Centre
            </td>

            <td>
                0733986968
            </td>
            <td>
                anelesiwela@gmail.com
            </td>
            <td>
                Education
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="UpdateBooking">Update </a> |
                <a class="btn btn-sm btn-danger" asp-action="RemoveBooking">Remove </a> |
            </td>
        </tr>

        <tr>

            <td>
                Anele
            </td>
            <td>
                Siwela
            </td>
            <td>
                Nutrition
            </td>
            <td>
                Port Elizarber Centre
            </td>

            <td>
                0733986968
            </td>
            <td>
                anelesiwela@gmail.com
            </td>
            <td>
                Education
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="UpdateBooking">Update </a> |
                <a class="btn btn-sm btn-danger" asp-action="RemoveBooking">Remove </a> |
            </td>
        </tr>

    </tbody>
</table>