<h1> Teacher Detail</h1>
<br />
<div class="card mb-3">
    <div class="card-text">
        <p>   Name    : Anele</p>
        <p>  Surname : Siwela</p>
    </div>
    <div class="card-img">
        <span class="img-responsive">
            <img class="img-rounded img-responsive" role="img" src="~/Images/WIN_20210303_10_39_51_Pro.jpg" width="150" height="150" asp-append-version="true" />
        </span>

    </div>
    <div class="card-body">
        <h5> Phone :07339868</h5>

        <h5>
            Centre : Port Elizeberth Centre
        </h5>
        <h5>
            Qualification :  Phandation Phase
        </h5>
    </div>
    <div class="card-footer">
        <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-info">Update</a>
        <a asp-action="Delete" asp-controller="Manage" class="btn btn-sm btn-danger">Remove</a>

    </div>
</div>
