@{
    ViewData["Title"] = "Error";
}
<br />
<div class="card text-danger alert alert-danger text-center text-capitalize">
    Error occurred
</div>
<div class="card-body text-center">
    <p5 class="text-danger text-capitalize">
        An error occurred while processing your request. Please try again....
    </p5>
</div>
